<div>
    <div class="container">
        <h1 class="text-center my-3">Administración de artículos</h1>
    
        <table class="table table-striped" border="1" *ngIf="hayRegistros(); else sinarticulos">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Borrar</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let art of articulos">
                    <th scope="row">{{art.codigo}}</th>
                    <td>{{art.descripcion}}</td>
                    <td>{{art.precio}}</td>
                    <td><button class="btn btn-danger" (click)="borrar(art.codigo)">Borrar?</button></td>
                    <td><button class="btn btn-primary" (click)="seleccionar(art)">Seleccionar</button></td>
                </tr>
            </tbody>
        </table>
        <ng-template #sinarticulos>
            <p>No hay articulos.</p>
        </ng-template>
        <div class="container col-6 card p-5">
            <p>
                Codigo:<input class="form-control" type="number" [(ngModel)]="art.codigo" />
            </p>
            <p>
                Descripción:<input class="form-control" type="text" [(ngModel)]="art.descripcion" />
            </p>
            <p>
                Precio:<input class="form-control" type="number" [(ngModel)]="art.precio" />
            </p>
            <p class="row m-0"><button class="btn btn-success col" (click)="agregar()">Agregar</button>
                <button class="btn btn-warning col" (click)="modificar()">Modificar</button>
            </p>
        </div>
    </div>